body {
    background-color:whitesmoke
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

label {
    font-weight: bold;
    color: black;
    font-family:'Times New Roman', Times, serif
}

.button {
    background-color: lightgreen;
    color: black;
}

.button:hover {
    cursor: pointer;
    background: darkgreen;
}

